@import "src/styles/main";

.top-bar {
  height: 90px;
  display: flex;
  flex-direction: column;
  color: $text-light;

  .logo-section {
    height: 45%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, $background-dark, $background-light);

    img {
      display: flex;
    }

    .routes {

    }
  }

  .page-section {
    @import "../side-menu/SideMenu";
    padding-left: $width-percentage;
    display: flex;
    height: 55%;
    background: $background-light;
  }

}